<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width"> 
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
	<style>
		@media print {
  			@page { padding:30px 100px !important; }
		}
	</style>
</head>

<body style="-webkit-print-color-adjust: exact;  color-adjust: exact; padding:15px !important;font-family: 'Nunito', sans-serif;">
	<div class="page-wrapper">
		<div class="head" style="height: 35px;width:100%;">
			<div class="brand" style="display: inline-block;font-size: 22px;color: #1a54ad;font-family: arial;font-weight: 700;"> 
				<img src="<%=data.companyLogo%>">
			</div>
			<div class="right-opt" style="font-family:Arial, Helvetica, sans-serif;font-size: 13px;color:#747d89;font-weight: 700;float: right;margin:4px 0 0 0"> 
				<span style="margin:0 15px;float: left;font-size:10px;font-family: 'Nunito', sans-serif; color:#747d89;">Week: <%=data.startDate%> - <%=data.endDate%></span>
				<span style="display:inline-block;float: left;margin: 2px 5px;"><img src="<%=data.weekData%>"></span>			
		   </div>
		</div>
		<div class="calandar-container" style="background-color:#fff;border:solid 1px #f7f7f7;">
			<% for(var i=0;i< data.days.length;i++) { %>
				<div class="item-outer"> <!-- Loop to display each day details -->
				<div class="title" style="background-color:#f7f7f7;margin:0;padding:2px 0;border:solid 1px #f7f7f7;">
					<h1 style="margin:0;color:#000000;font-size:8px;font-weight:400;font-family: 'Nunito', sans-serif;"><%=data.days[i].startDay%>, <%=data.days[i].date%></h1> 
				</div>
				
				<% for(var j=0;j< data.days[i].shifts.length; j++) {%>

				<div class="list" style="padding:1px 0;"> <!-- Loop to display each shift -->
					<h2 style="margin: 0;color:grey;font-family: 'Nunito', sans-serif;font-size:8px;font-weight: 800;padding-left:2px;"><%=data.days[i].shifts[j].position%></h2>
					<% for(var k=0;k< data.days[i].shifts[j].timeArray.length; k++) { %>
					<div class="block" style="padding:5px 0;font-size: 0;border-bottom: dotted 1px grey;">
						<div class="left" style="width: 25%;display: inline-block; vertical-align: top;font-size: 7px;">
							<span style="font-family: 'Nunito', sans-serif;color:#000000;font-size:7px;font-weight:400;padding-left:2px;"><%=data.days[i].shifts[j].timeArray[k].startTime%> to <%=data.days[i].shifts[j].timeArray[k].endTime%></span>
						</div>
						
						<div class="right" style="width: 75%;display: inline-block;" >
							<% for(var q=0;q< data.days[i].shifts[j].timeArray[k].users.length; q++) { %> 
							<div class="block" style="display:inline-block;text-align: center; margin:0 2px;width:20px;vertical-align: top;overflow-x: hidden;">
								<div class="profile" style="">
									<div class="image" style="width:20px;height:20px;overflow: hidden;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;border:solid 2px #ffff;"> <img src="<%=(data.days[i].shifts[j].timeArray[k].users[q].imageUrl)?data.days[i].shifts[j].timeArray[k].users[q].imageUrl: data.emptyImageUrl%>" style="width:100%"> </div>
									<h4 style="font-size:6px;color:#363c4a;font-weight:400;margin:0;font-family: 'Nunito', sans-serif;padding:2px 0 0 0;"><%= data.days[i].shifts[j].timeArray[k].users[q].name%></h4>
								</div>
							</div>
							<% } %>
						</div>
					</div>
					<% } %>
				</div>
				<% } %>
			</div>
		</div>
		<% } %>
	</div>
</body>

</html>

